@import './colors.scss';
@import './abstracts';
@import './typography';
@import './buttons.scss';
@import './game.scss';


.App {
    min-height: 100vh;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.hidden {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}